BITGET_API_KEY=<api_key>
BITGET_API_SECRET=<api_secret
BITGET_PASSPHRASE=<password>

SYMBOL=PEPE/USDT
QUOTE=USDT
BASE=PEPE
PRICE_PRECISION=9
QUANTITY_PRECISION=0
TIMEFRAME=1m
BUFFER_CANDLES_LENGTH=150

BASE_AMOUNT_POSITION=1
N_BARS_STATIC_SL=4
PCT_TRAILING_LS=0.001
PCT_STATIC_LS=0.14
